{% extends 'base.html' %}
{% load extras %}

{% block title %}Список автоматов{% endblock %}

{% block content %}

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="{% url 'avtomat' %}">Автоматы</a></li>
        <li role="presentation"><a href="{% url 'route' %}">Маршруты</a></li>
        <li role="presentation"><a href="{% url 'street' %}">Улицы</a></li>
        <li role="presentation"><a href="{% url 'city' %}">Города</a></li>
    </ul>
    <br>

    {% block alphabet %}
        {% include 'alphabet.html' %}
    {% endblock %}

    <h3>Список автоматов</h3>
    <table class="table tablesorter">
    <thead>
        <tr class="info">
            <th></th>
            <th>Номер</th>
            <th>Город</th>
            <th>Адрес</th>
            <th>Маршрут</th>
            <th>Цена</th>
            <th>Обьем</th>
            <th>Телефон</th>
            <th>Регистратор</th>
            <th>Охрана</th>
            <th>Конкуренты</th>
        </tr>
    </thead>
    <tbody>
    {% for avtomat in avtomat_table %}
        <tr>
            <td><a href="{% url 'avtomat_form' avtomat.pk %}">Ред</a></td>
            <td>{{ avtomat.number }}</td>
            <td>{{ avtomat.street.city }}</td>
            <td>{{ avtomat }}</td>
            <td>{% if avtomat.route %}{{ avtomat.route }}{% else %}-{% endif %}</td>
            <td>{% if avtomat.water_price %}{{ avtomat.water_price }}{% else %}-{% endif %}</td>
            <td>{% if avtomat.size %}{{ avtomat.size }}{% else %}-{% endif %}</td>
            <td>{% if avtomat.phone %}{{ avtomat.phone }}{% else %}-{% endif %}</td>
            <td>{% if avtomat.register %}{{ avtomat.register }}{% else %}-{% endif %}</td>
            <td>{% if avtomat.security %}{{ avtomat.security }}{% else %}-{% endif %}</td>
            <td>{% if avtomat.competitors %}Есть{% else %}Нет{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    {% if request.GET %}
        <script>alert('Автомат {{ request.GET.number }} не добавлен на карту!\nПроверьте корректность адреса.')</script>
    {% endif %}

{% endblock %}