{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Список городов{% endblock %}

{% block content %}

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{% url 'avtomat' %}">Автоматы</a></li>
        <li role="presentation"><a href="{% url 'route' %}">Маршруты</a></li>
        <li role="presentation"><a href="{% url 'street' %}">Улицы</a></li>
        <li role="presentation" class="active"><a href="{% url 'city' %}">Города</a></li>
    </ul>

    <h3>Список городов <a href="{% url 'city_create' %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span> Добавить город</a></h3></h3>

    <table class="table">
    <thead>
        <tr class="info">
            <th></th>
            <th>Город</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for city in city_table %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ city }}</td>
            <td><a href="{% url 'city_edit' city.id %}">Редактировать</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}