{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vodomat</title>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link href="{% static 'registration/css/style.css' %}" rel="stylesheet">
        <link rel='shortcut icon' href='{% static 'registration/img/favicon.png' %}' type='image/png'>
    </head>
    <body>
	<div class="container">
    	    <form class="form-signin" method='post' action='{% url 'login' %}'>{% csrf_token %}
        	<h2 class="form-signin-heading">Vodomat</h2>
                <input type="text" class="form-control" placeholder="Пользователь" required autofocus name='username'>
                <input type="password" class="form-control" placeholder="Пароль" required name='password'>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
                <input type='hidden' name='next' value='{{ next }}'>
	    </form>
	</div>
    </body>
</html>
