{% load bootstrap3 %}

{% block alphabet %}
    <div class="btn-toolbar">
        <div class="btn-group">
            <a href="{% url 'vodomat:search' '0' %}" class="btn btn-default">0</a>
            <a href="{% url 'vodomat:search' '1' %}" class="btn btn-default">1</a>
            <a href="{% url 'vodomat:search' '2' %}" class="btn btn-default">2</a>
            <a href="{% url 'vodomat:search' '3' %}" class="btn btn-default">3</a>
            <a href="{% url 'vodomat:search' '4' %}" class="btn btn-default">4</a>
            <a href="{% url 'vodomat:search' '5' %}" class="btn btn-default">5</a>
            <a href="{% url 'vodomat:search' '6' %}" class="btn btn-default">6</a>
            <a href="{% url 'vodomat:search' '7' %}" class="btn btn-default">7</a>
            <a href="{% url 'vodomat:search' '8' %}" class="btn btn-default">8</a>
            <a href="{% url 'vodomat:search' '9' %}" class="btn btn-default">9</a>
        </div>
        <div class="btn-group">
            <a href="{% url 'vodomat:search' 'А' %}" class="btn btn-default">А</a>
            <a href="{% url 'vodomat:search' 'Б' %}" class="btn btn-default">Б</a>
            <a href="{% url 'vodomat:search' 'В' %}" class="btn btn-default">В</a>
            <a href="{% url 'vodomat:search' 'Г' %}" class="btn btn-default">Г</a>
            <a href="{% url 'vodomat:search' 'Д' %}" class="btn btn-default">Д</a>
            <a href="{% url 'vodomat:search' 'Е' %}" class="btn btn-default">Е</a>
            <a href="{% url 'vodomat:search' 'Ж' %}" class="btn btn-default">Ж</a>
            <a href="{% url 'vodomat:search' 'З' %}" class="btn btn-default">З</a>
            <a href="{% url 'vodomat:search' 'И' %}" class="btn btn-default">И</a>
            <a href="{% url 'vodomat:search' 'К' %}" class="btn btn-default">К</a>
            <a href="{% url 'vodomat:search' 'Л' %}" class="btn btn-default">Л</a>
            <a href="{% url 'vodomat:search' 'М' %}" class="btn btn-default">М</a>
            <a href="{% url 'vodomat:search' 'Н' %}" class="btn btn-default">Н</a>
            <a href="{% url 'vodomat:search' 'О' %}" class="btn btn-default">О</a>
            <a href="{% url 'vodomat:search' 'П' %}" class="btn btn-default">П</a>
            <a href="{% url 'vodomat:search' 'Р' %}" class="btn btn-default">Р</a>
            <a href="{% url 'vodomat:search' 'С' %}" class="btn btn-default">С</a>
            <a href="{% url 'vodomat:search' 'Т' %}" class="btn btn-default">Т</a>
            <a href="{% url 'vodomat:search' 'У' %}" class="btn btn-default">У</a>
            <a href="{% url 'vodomat:search' 'Ф' %}" class="btn btn-default">Ф</a>
            <a href="{% url 'vodomat:search' 'Х' %}" class="btn btn-default">Х</a>
            <a href="{% url 'vodomat:search' 'Ц' %}" class="btn btn-default">Ц</a>
            <a href="{% url 'vodomat:search' 'Ч' %}" class="btn btn-default">Ч</a>
            <a href="{% url 'vodomat:search' 'Ш' %}" class="btn btn-default">Ш</a>
            <a href="{% url 'vodomat:search' 'Щ' %}" class="btn btn-default">Щ</a>
            <a href="{% url 'vodomat:search' 'Э' %}" class="btn btn-default">Э</a>
            <a href="{% url 'vodomat:search' 'Ю' %}" class="btn btn-default">Ю</a>
            <a href="{% url 'vodomat:search' 'Я' %}" class="btn btn-default">Я</a>
        </div>
    </div>
{% endblock %}