{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}<meta http-equiv="refresh" content="300">{% endblock %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {{ form.media }}
    <link rel="stylesheet" href="{% static 'vodomat/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'vodomat/img/favicon.png' %}" type="image/png">
</head>

<body>

    {% now 'Y' as current_year %}
    {% now 'm' as current_month %}
    {% now 'd' as current_day %}

    <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'vodomat:status' %}">Vodomat</a>
            </div>
            <div class="navbar-right">
                <p class="navbar-text">{{ user.first_name }} {{ user.last_name }}</p>
                <a href="{% url 'logout' %}" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-log-out"></span> Выйти</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar metismenu" id="side-menu">
                {% block menu %}
                    {% include 'vodomat/right_menu.html' %}
                {% endblock %}
                </ul>
            </div>

            <div class="col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10 content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <script src="{% static 'vodomat/js/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'vodomat/js/script.js' %}"></script>

</body>
</html>




{#    {% block clock %}#}
{#        {% include 'vodomat/clock.html' %}#}
{#    {% endblock %}#}
{##}
{#    {% block gismeteo %}#}
{#        {% include 'vodomat/gismeteo.html' %}#}
{#    {% endblock %}#}
