{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Vodomat</title>
    <meta http-equiv="refresh" content="300">
    <link rel="stylesheet" type="text/css" href="{% static 'vodomat/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'vodomat/img/favicon.png' %}" type="image/png">
</head>

<body>

    <div id="mobile_block" onclick="document.location='{% url 'status' %}'" style="background-color: #79aec8">Назад</div>
    <div id="mobile_block">{{ detail.avtomat }}</div>
    <div id="mobile_block">{{ detail.time }}</div>
    <div id="mobile_block">{{ detail.how_money }}(грн)</div>
    <div id="mobile_block">{{ detail.water_balance }}(л)</div>
    {% if collections %}
        <div id="mobile_block">{{ collections.time }}<br>{{ collections.how_money }}(грн)</div>
    {% endif %}

</body>
</html>