{% block gismeteo %}

    <link rel="stylesheet" type="text/css" href="https://bst1.gismeteo.ru/assets/flat-ui/legacy/css/informer.min.css">
    <div id="gsInformerID-qq3NN0wT678BF8" class="gsInformer" style="width:179px;height:282px;position:fixed;bottom:20px;left:10px;border-radius:5px">
      <div class="gsIContent">
        <div id="cityLink">
        <a href="https://www.gismeteo.ru/city/daily/5053/" target="_blank">Погода в Харькове</a>
        </div>
        <div class="gsLinks">
          <table>
            <tr>
                <td>
                <div class="leftCol">
                  <a href="https://www.gismeteo.ru/" target="_blank">
                    <img alt="Gismeteo" title="Gismeteo" src="https://bst1.gismeteo.ru/assets/flat-ui/img/logo-mini2.png" align="middle" border="0" />
                    <span>Gismeteo</span>
                  </a>
                </div>
                <div class="rightCol">
                  <a href="https://www.gismeteo.ru/city/weekly/5053/" target="_blank">Прогноз на 2 недели</a>
                </div>
                </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script async src="https://www.gismeteo.ru/api/informer/getinformer/?hash=qq3NN0wT678BF8" type="text/javascript"></script>

{% endblock %}