{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Vodomat</title>
    <meta http-equiv="refresh" content="300">
    <link rel="stylesheet" type="text/css" href="{% static 'vodomat/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'vodomat/img/favicon.png' %}" type="image/png">
</head>

<body>

    {% for avtomat in status_table_mobile %}
        <div id="mobile_block" onclick="document.location='{% url 'vodomat:detail_mobile' avtomat.avtomat.number %}'"
                                {% if avtomat.ev_water == 1 or avtomat.ev_volt == 1 or avtomat.ev_bill == 1 or avtomat.ev_counter_water == 1 or avtomat.ev_register == 1 %} style="background-color: #faebd7"
                                {% else %} style="background-color: #79aec8"
                                {% endif %}>
            {{ avtomat.avtomat.address }}
        </div>
    {% endfor %}

</body>
</html>