{% extends 'vodomat/base.html' %}
{% load bootstrap3 %}

{% block title %}Маршруты{% endblock %}

{% block content %}

    <h3>Маршруты</h3>
    <table class="table">
    <thead>
        <tr class="info">
            <th>Номер маршрута</th>
            <th>Номер автомобиля</th>
            <th>Водители</th>
        </tr>
    </thead>
    <tbody>
    {% for route in route_table %}
        <tr onclick="document.location='{% url 'route_sorted' route.route_number %}'" onmouseover="this.className='active'" onmouseout="this.className=''">
            <td>{{ route }}</td>
            <td>{{ route.car_number }}</td>
            <td>{{ route.driver }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}