{% extends 'vodomat/base.html' %}
{% load bootstrap3 %}

{% block title %}Маршруты{% endblock %}

{% block content %}

    <h3>Маршруты</h3>
    <table class="table">
    <thead>
        <tr class="info">
            <th>Номер маршрута</th>
            <th>Номер автомобиля</th>
            <th>Водители</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for route in route_table %}
       <tr>
           <td style="width: 40%" onclick="document.location='{% url 'vodomat:route_sorted' route.route_number %}'" onmouseover="this.className='active'" onmouseout="this.className=''">{{ route.route_number }}</td>
           <td>{{ route.car_number }}</td>
           <td>{{ route.driver }}</td>
           <td><a href="{% url 'vodomat:edit_route' route.id %}">Редактировать</a> </td>
           <td><a data-toggle="modal" data-target="#deleteRoute" data-car_number="{{ route.car_number }}" data-route_id="{{ route.id }}" class="text-danger">Удалить</a></td>
       </tr>
    {% endfor %}
    </tbody>
    </table>

    <p>
    {% buttons %}
        <a href="{% url 'vodomat:create_route' %}" class="btn btn-primary">Создать маршрут</a>
    {% endbuttons %}
    </p>

    <div class="modal fade" id="deleteRoute" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title">Удаление маршрута</h4>
                </div>
                <div class="modal-body">
                    <h4></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <a href="" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}