{% extends 'vodomat/base.html' %}
{% load bootstrap3 %}
{% load vodomat_extras %}

{% block title %}Статистика{% endblock %}

{% block content %}

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{% url 'statistic_form' %}">Сутки</a></li>
        <li role="presentation" class="active"><a href="{% url 'statistic_period_form' %}">Период</a></li>
    </ul>

    <h3>Статистика по автомату: {{ avtomat }} с {{ start|date:'j b Y' }} до {{ end|date:'j b Y' }}</h3>

    <table class="table table-striped tablesorter">
    <thead>
        <tr class="info">
            <th>Время</th>
            <th>Остаток воды</th>
            <th>Принятая сумма</th>
            <th>Грн</th>
            <th>Коп</th>
            <th>Цена</th>
            <th>Наличие воды</th>
            <th>Эл-сеть</th>
            <th>Купюроприемник</th>
            <th>Счетчик воды</th>
            <th>Регистратор</th>
            <th>Событие</th>
        </tr>
    </thead>
    <tbody>
        {% for avtomat in statistic_period %}
            <tr>
                <td>{{ avtomat.time }}</td>
                <td>{{ avtomat.water_balance }}</td>
                <td>{{ avtomat.how_money }}</td>
                <td>{{ avtomat.grn }}</td>
                <td>{{ avtomat.kop }}</td>
                <td>{{ avtomat.water_price }}</td>
                <td>{% if avtomat.ev_water %}Сбой{% else %}Норма{% endif %}</td>
                <td>{% if avtomat.ev_volt %}Сбой{% else %}Норма{% endif %}</td>
                <td>{% if avtomat.ev_bill %}Сбой{% else %}Норма{% endif %}</td>
                <td>{% if avtomat.ev_counter_water %}Сбой{% else %}Норма{% endif %}</td>
                <td>{% if avtomat.ev_register %}Сбой{% else %}Норма{% endif %}</td>
                <td>{{ avtomat.event|event }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

{% endblock %}