{% block menu %}

    <li class={% if 'status' in request.path %}'active'{% endif %}><a href="{% url 'status' %}">
        <span class='glyphicon glyphicon-home'></span>  Статус автоматов
	</a>
    </li>
    <li class={% if 'collection' in request.path %}'active'{% endif %}><a href="{% url 'collection_day' current_year current_month current_day %}">
        <span class='glyphicon glyphicon-usd'></span>  Инкассации
    </a>
    </li>
    <li class={% if 'statistic' in request.path %}'active'{% endif %}><a href="{% url 'statistic_form' %}">
        <span class='glyphicon glyphicon-calendar'></span>  Статистика
	</a>
    </li>

    <li class={% if 'reports' in request.path %}'active'{% endif %}><a href="{% url 'reports' %}">
        <span class='glyphicon glyphicon-file'></span>  Отчеты
	</a>
    </li>

{#    <li><a href="{% url 'status_map' %}">#}
{#	<span class='glyphicon glyphicon-globe'></span>  Карта автоматов#}
{#	</a>#}
{#    </li>#}

    <li class={% if 'avtomat' in request.path or 'route' in request.path %}'active'{% endif %}><a href="{% url 'avtomat' %}">
	<span class='glyphicon glyphicon-list-alt'></span>  Справочники
	</a>
    </li>
    {% if user.is_staff %}
        <li><a href="{% url 'admin:index' %}"><span class='glyphicon glyphicon-dashboard'></span>  Администрирование</a></li>
    {% endif %}

{% endblock %}